.DocSearch-Button {
  margin-left: 0 !important;
}

:not(pre) > code {
  background-color: #f3f4f6;
  padding: 2px 4px;
  border-radius: 0.25rem;
  color: #ec4899 !important;
}

code::before {
  display: none;
}

code::after {
  display: none;
}

.prose li > p,
.prose div > p {
  margin: 0 !important;
}

.DocSearch-Input:focus,
.DocSearch-Input:active {
  box-shadow: none !important;
}
