pre[class*="language-"] {
  padding: 1.5em;
}

code[class*="language-"],
pre[class*="language-"] {
  font-size: 14px;
}

.DocSearch-Button {
  margin-left: 0 !important;
}

code {
  font-size: 14px;
  padding: 0.2em 0.4em;
  background-color: #eeeeee;
  border-radius: 0.3em;
}

code::before {
  display: none;
}

code::after {
  display: none;
}

.DocSearch-Input:focus,
.DocSearch-Input:active {
  box-shadow: none !important;
}
